# gitignore template for Phoenix projects
# website: http://www.phoenixframework.org/
#
# Recommended template: Elixir.gitignore

# Temporary files
/tmp

# Installer-related files
/installer/_build
/installer/tmp
/installer/doc
/installer/deps


## Zig
.zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/


#sqlite3
*.db
*.bat
*.exp
*.pdb
*.dll
*.a
*.so
*.db-shm
*.db-wal
package-lock.json
*.sqlite
node_modules/
build/
# C benchmark binary
bench/bench
deno.lock
bun.lockb
.DS_Store

notes.md
